language: node_js
node_js:
  - "8"

before_install:
  - pip install --upgrade --user awscli

before_deploy:
  - yarn build

deploy:
  provider: s3
  bucket: demo.microfrontends.com
  local_dir: build
  skip_cleanup: true
