html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3de;
  color: #2b2318;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/*
  Colour palette:
  Yellow: #f1d736
  Orange: #e79652
  Black: #2b2318
  Tan: #dbda9a
  Brown: #7b5a49
*/
